
html{height: 100%;}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 100%;



}
*{	box-sizing: border-box;}
h1 {
	color:blue;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.menu {

	border-style: solid;
	float: left;
	width: 100%;
	height: 10%;

}
.product{
	float: left;
	border-style: solid;
	width: 33%;
	height: 100%;
}
.button {
	background-color: #007bff;
	color: #fff;
	border-radius: 0.25rem;
	cursor: pointer;
	border:none;

	@media only screen and (min-width: 768px) {
		margin: 1rem;
	}
}

.button:hover {
	background-color: #5e7ea1;
}
header{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{

	display:block;
	flex-direction: column;
	text-align: center;

}
.exit-button {
	border:none;
	background-color: #ff0000;
	color: #fff;
	padding: 1rem 2rem;
	border-radius: 0.25rem;
	cursor: pointer;
	background-color: #ff0000;
}
